// Start The Global Ruls
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Estonia", "cursive";
  font-family: "Josefin Sans", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Zen Antique", serif;
}

:root {
  --main-color: #e91e63;
}
// End The Global Ruls
// Start The Form
form textarea {
  width: 80%;
  height: 200px;
  margin: 20px auto;
  text-align: center;
  color: var(--main-color);
  font-size: 20px;
  outline: none;
}
form input:last-of-type {
  margin-right: 10px;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  width: 20%;
  cursor: pointer;
}
// End The Form
// Start The Info Box
.info {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 800px) {
  .info {
    flex-direction: column;
    align-items: center;
  }
}
.info p {
  margin-top: 20px;
  color: var(--main-color);
  font-weight: bold;
}
.info p:last-of-type {
  cursor: pointer;
  border: 2px solid var(--main-color);
  padding: 10px;
}
// End The Info Box
